:global(#experience) {
  margin: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 100px;
}

.gridSystem {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.work {
  justify-self: center;
  flex-basis: 24%;
  text-align: center;
}
