.nav {
  margin: 50px auto;
  padding: 0 50px;
}

ul.navBar {
  width: 100%;
  margin: 0 auto;
}

.navLinks {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  flex-direction: row;
}

.navLink {
  padding: 0 15px;
  font-size: var(--hs-sz);
}

.navLinks > .navLink:first-child {
  margin-right: auto;
  margin-left: 0;
  padding-left: 0;
}

.navLinks > .navLink:last-child {
  margin-right: 0;
  padding-right: 0;
}

.button {
  color: (--subtitle-col) !important;
  background-color: var(--secondary-col);
  /* background-color: black ; */
  padding: 5px 25px;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.button:hover,
.button:active {
  background-color: #F29B8F;
}