.nav {
  margin: 0 auto;
  padding: 50px 50px 0;
  width: 100%;
  position: fixed;
}

.container {
  display: flex;
  justify-content: space-between;
}

.logo a {
  color: var(--secondary-col) !important;
}

.logo,
.burger {
  font-size: 3em;
  position: relative;
  z-index: 14;
}

.burger {
  text-align: right;
  position: relative;
  z-index: 100;
  border: none;
  color: var(--secondary-col);
  background: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.burger:global(.opened) {
  transform: scale(2);
}


:global(.visible) {
  right: 0;
  top: 0;
  box-shadow: 0 0 1000px 1000px #4B689990 ;
  opacity: 1;
}

:global(.hidden) {
  right: -300px;
  top: 0;
}
.linkContainer {
  transition: all 0.5s ease;
  position: fixed;
  z-index: 11;
  height: 100vh;
  background-color: var(--background-col-dark);
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  font-size: 140%;
  padding: 15px 0;
  text-align: center;
}

.button {
  color: var(--subtitle-col) !important;
  background-color: var(--secondary-col);
  padding: 5px 25px;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.button:hover,
.button:active {
  background-color: #F29B8F;
}

@media screen and (min-width: 400px) {
  .linkContainer {
    width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    padding: 50px 100px 0;
  }
}