#socials {
  display: none;
}

@media screen and (min-width: 768px) {
  #socials {
    display: block;
  }

  .line {
    border: 1px solid var(--font-col);
    width: 150px;
    display: inline-block;
    margin-bottom: 13px;
    margin-right: 10px;
  }

  .socials a {
    font-size: 30px;
    margin: 0 15px;
    color: var(--font-col)

  }

  .socials {
    position: fixed;
    left: -85px;
    bottom: 100px;
    transform: rotate(-90deg);
  }

  .socials a {
    transition: 0.2s ease;
  }


  .socials a:hover {
    color: var(--secondary-col);
  }
}

@media screen and (min-width: 1200px) {
  .socials {
    left: -60px
  }
}