#socials {
  display: none;
}

@media screen and (min-width: 768px) {
  #socials {
    display: block;
  }

  .linkContainer {
    position: fixed;
    left: 30px;
    bottom: 0px;
    width: 40px;
    right: auto;
  }

  .emailContainer {
    position: fixed;
    right: 30px;
    bottom: 0px;
    width: 40px;
    left: auto;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #socials a {
    font-size: 1.6em;
    transition: all 0.2s ease;
  }

  #socials a:hover {
    color: var(--secondary-col);
    translate: 0 -3px;
  }

  .link {
    display: inline-block;
  }

  .link:first-child {
    margin-bottom: 15px;
  }

  .link:last-child::after,
  .emailContainer > div::after {
    content: "";
    width: 2px;
    height: 130px;
    margin: 15px auto 0 auto;
    background-color: var(--font-col);
  }
  .link:last-child::after {
    display: block;
  }

  .emailContainer > div::after {
    display: block;
  }

  .email {
    writing-mode: vertical-lr;
    letter-spacing: .1px;
    font-size: 1em !important;
    margin: 0 0 10px 3px;
    padding: 0px 7px;
  }

}


@media screen and (min-width: 1200px) {
  .linkContainer {
    left: 55px;
  }
  .emailContainer {
    right: 55px;
  }
}